/* http://kb.mozillazine.org/UserChrome.css
 * Edit this file and copy it as userChrome.css into your
 * profile-directory/chrome/
 */

/* Only needed this line once: */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Hide icons for bookmark folders
   https://support.mozilla.org/en-US/questions/1268203
   https://support.mozilla.org/en-US/questions/1226362

   Firefox 69 blocks userChrome.css and userContent.css by default, thus:
   toolkit.legacyUserProfileCustomizations.stylesheets = true 
 */
#personal-bookmarks .bookmark-item .toolbarbutton-icon {
 display:none!important;
}

@-moz-document url(chrome://browser/content/browser.xhtml){
    #personal-bookmarks .bookmark-item .toolbarbutton-icon {
        display: none !important;
    }
}
