
[Desktop Entry]
Version=1.0
Name=GNU Emacs
GenericName=Text Editor
Comment=
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Exec=/usr/bin/emacs24
TryExec=emacs23
Icon=/usr/share/icons/hicolor/scalable/apps/emacs.svg
Type=Application
Terminal=false
Categories=Utility;Development;TextEditor;
StartupWMClass=Emacs23
X-XFCE-Source=file:///usr/share/applications/emacs23.desktop
Path=
StartupNotify=false
